# Ambiente virtual
venv/
.env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Banco SQLite
db.sqlite3

# Arquivos do Django
*.log
local_settings.py

# Static e media (opcional)
media/
staticfiles/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Migrations compiladas
*.mo

# Variáveis de ambiente
.env
.env.local